<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mir_100_with_ur10" >


  <!-- MiR100 base -->
  <xacro:include filename="$(find painting_robot)/urdf/MIR100_include/mir_100_v1.urdf.xacro" />
  <xacro:include filename="$(find painting_robot)/urdf/MIR100_include/common.gazebo.xacro" />

  <xacro:arg name="tf_prefix" default="" />
  <xacro:property name="tf_prefix_" value="$(arg tf_prefix)" />
  <xacro:if value="${tf_prefix_ == ''}">
    <xacro:property name="prefix" value="" />
  </xacro:if>
  <xacro:unless value="${tf_prefix_ == ''}">
    <xacro:property name="prefix" value="${tf_prefix_}/" />
  </xacro:unless>

  <xacro:mir_100 prefix="${prefix}"/>
  <!--xacro:controller_plugin_gazebo robot_namespace=""/-->


<!-- UR 10 -->
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find painting_robot)/urdf/UR10_include/common.gazebo.xacro" />

  <!-- ur10 -->
  <xacro:include filename="$(find painting_robot)/urdf/UR10_include/ur10.urdf.xacro" />

  <!-- arm -->
  <xacro:ur10_robot prefix="arm_" joint_limited="true"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />


  <!--link name="world" /-->

  <joint name="MIR_and_UR10_mount_joint" type="fixed">
    <parent link="surface" />
    <child link = "arm_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="UR10_and_gripper_joint" type="fixed">
    <parent link="arm_ee_link" />
    <child link = "palm" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
